/* accessing the LEXAND on google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

/* declaring global CSS variables */
:root {
  --color-1: #F230F2;
  --color-2: #1A1AFF;
  --color-3: #010101;
  --color-4: #171717;
  --color-5: #FAFAFA;
  --color-6: #FF6961;
  --color-7: #A2A5DC;
}

/* GLOBAL styling */
* {
  font-family: 'Lexend', sans-serif;
}

/* <body> tag styling */
body {
  background-color: var(--color-3);
}

/* <h1> tag styling */
h1 {
  background: #f230f2;
  background: linear-gradient(to right, #F230F2 40%, #1A1AFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* <p> tag styling */
p {
  color: var(--color-5);
  font-size: var(--size-2);
  font-weight: 300;
}

/* <b> tag styling */
b {
  font-weight: 700;
}

/* styling of .hour */
.hour {
  background-color: var(--color-1);
  border-radius: 0;
  border-style: none;
  color: var(--color-5);
  cursor: default !important;
}

/* styling of .past */
.past {
  background-color: var(--color-5);
  color: var(--color-4);
}

/* styling of .present */
.present {
  background-color: var(--color-6);
  color: var(--color-4);
}

/* styling of .future */
.future {
  background-color: var(--color-7);
  color: var(--color-4);
}

/* styling of textarea */
textarea {
  background-color: var(--color-4);
  border-color: transparent;
  border-style: none;
  border-width: 0;
  color: var(--color-5);
  font-weight: 300;
  outline-style: none;
}

/* styling of .btn-clear-all */
.btn-clear-all {
  background-color: var(--color-2);
  color: var(--color-5);
}
.btn-clear-all:hover {
  border: 1px solid var(--color-2);
  color: var(--color-5);
}

/* styling of .btn-add */
.btn-add {
  border: 2px solid var(--color-1);
  border-radius: 0;
  color: var(--color-5);
}
.btn-add:hover {
  border: 2px solid var(--color-1);
  border-radius: 0;
  color: var(--color-1);
}

/* styling of .btn-clear */
.btn-clear {
  border: 2px solid var(--color-2);
  border-radius: 0;
  color: var(--color-5);
}
.btn-clear:hover {
  border: 2px solid var(--color-2);
  border-radius: 0;
  color: var(--color-2);
}