/* accessing the LEXAND on google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

/* declaring global CSS variables */
:root {
  --color-1: #F230F2;
  --color-2: #1A1AFF;
  --color-3: #010101;
  --color-4: #171717;
  --color-5: #FAFAFA;
  --color-6: #FF6961;
  --color-7: #A2A5DC;
}

/* GLOBAL styling */
* {
  font-family: 'Lexend', sans-serif;
}

/* <body> tag styling */
body {
  background-color: var(--color-3);
}

/* <h1> tag styling */
h1 {
  background: #f230f2;
  background: linear-gradient(to right, #F230F2 40%, #1A1AFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* <p> tag styling */
p {
  color: var(--color-5);
  font-size: var(--size-2);
  font-weight: 300;
}

/* <b> tag styling */
b {
  font-weight: 700;
}